/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body::after{ content:''; display:block; height:60px; }

body {
    min-height: 100%;
    padding:0; margin:0; position:relative;
    background-color: #fafafa;
}