<mat-toolbar color="primary">
    <div>
        <a routerLink="/">Laptop Market</a>
    </div>
    <ul fxFlex fxLayout="row" fxLayoutGap="20px">
        <li>
            <a routerLink="/laptop/all">All Laptops</a>
        </li>
        <li *ngIf="isAuth">
            <a routerLink="/cart">Cart</a>
        </li>
        <li *ngIf="isAuth">
            <a routerLink="/orders">My orders</a>
        </li>
        <li *ngIf="isAdmin">
            <a routerLink="/laptop/create">Create Laptop</a>
        </li>
        <li *ngIf="isAdmin">
            <a routerLink="/orders/all">Send Orders</a>
        </li>
    </ul>
    <ul fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-end">
        <li *ngIf="isAuth">
            <a>Welcome, {{username}}</a>
        </li>
        <li *ngIf="!isAuth">
            <a routerLink="/user/login">Login</a>
        </li>
        <li *ngIf="!isAuth">
            <a routerLink="/user/register">Register</a>
        </li>
        <li *ngIf="isAuth">
            <a routerLink="#" (click)="logout()">Logout</a>
        </li>
    </ul>
</mat-toolbar>