mat-card {
    width: 219px;
    margin-left: 30px;
    margin-bottom: 30px;
}

img {
    height: 140px;
}

.right-button {
    margin-left: 25px !important;
}

.left-button {
    margin-left: 27px !important;
    width: 75px !important;
}

#edit-button {
    margin-left: 0px !important;
}

h1 {
    margin-left: 30px;
}

::ng-deep .mat-card-content {
    height: 110px !important;
}